.operators-links a {
    margin: 0.5rem 0;
}

.wrapper {
    display: flex;
    
    .container {
        flex: 7;
        border: 1px dotted gray; 
        padding: 0.5rem;
    }

    .topics {
        flex: 3; 
        border: 1px dotted gray; 
        padding: 0.5rem; 
        height: calc(100vh - 3rem);
    }
}