<div class="wrapper">

  <div class="topics">
    <div class="operators-links">
      <a [routerLink]="['/']"> Home </a> /
    </div>
    <div>
      <h3> Transformation Operators </h3>
      <ng-container *ngTemplateOutlet="transformationOp; context: { operators: operators.transformation }"></ng-container>
      <h3> Multicasting Operators </h3>
      <ng-container *ngTemplateOutlet="transformationOp; context: { operators: operators.multicating }"></ng-container>
      <h3> Filtering Operators </h3>
      <ng-container *ngTemplateOutlet="transformationOp; context: { operators: operators.filtering }"></ng-container>
    </div>
  </div>

  <div *ngIf="title$ | async as title else otherTemp" class="container">
    <h3> 
      This example demonstrate the <code> {{ title }} </code> operator
    </h3>
    <router-outlet></router-outlet>
  </div>

</div>

<ng-template #otherTemp> 
  <div class="container">
    <router-outlet></router-outlet>
  </div>
  
</ng-template>

 
<ng-template #transformationOp let-operators="operators"> 
  <div class="operators-links">
    <ng-container *ngFor="let op of operators">
      <a [routerLink]=op.value>  <code> {{ op.name }}</code> </a> /
    </ng-container>
  </div>
</ng-template>